/*
Custom CSS styles that override base theme go here.
*/
a,
a:link,
a:visited {
  outline:none;
}

.page-accreditation .region-secondary-content .hero-copy,
.front .region-secondary-content .hero-copy {
  display:none;
}

.page-accreditation .region-secondary-content .views-field-field-hero-image,
.front .region-secondary-content .views-field-field-hero-image {
  width:100%;
  float:none;
  margin:0;
}

.page-accreditation .region-secondary-content .views-field-field-hero-image img,
.front .region-secondary-content .views-field-field-hero-image img {
  width:100%;
  display:block;
}

.page-faculty .region-secondary-content .hero-copy {
  float:left;
  width:63%;
}

.page-faculty .region-secondary-content .hero-caption {
  display:block;
  font-size:1.2em;
}

.region-secondary-content .views-field-field-hero-image {
  width:214px;
}

@media only screen and (max-width:690px) {
  
  .region-secondary-content .views-field-field-hero-image {
    width:30%;
    margin-right:2%;
  }

  .page-faculty .region-secondary-content .hero-copy { 
    padding:2%;
  }

  .page-faculty .region-secondary-content .hero-caption {
    font-size:1.1em;
  }
}

@media only screen and (max-width:690px) {
  .page-faculty .region-secondary-content .views-field-field-hero-image {
    display:none;
  }
  .page-faculty .region-secondary-content .hero-copy {
    width:100%;
  }

  .page-faculty .region-secondary-content .hero-title {
    font-size:1.4em;
  }
}
